html, body , #app {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

::-webkit-scrollbar {
  background-color: rgba(255, 255, 255, 0.2);
  width: 6px;
  height: 6px;
  background-clip: padding-box;
}
::-webkit-scrollbar:hover {
  width: 20px;
  height: 20px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
}
